.DS_Store
.dart_tool/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

pubspec.lock

pin_input_text_field.iml

.idea/**
.idea/workspace.xml
.idea/vcs.xml

android
ios